img {
    width: 100%;
    height: auto;
}

header {
    margin-bottom: 20px;
}

.error {
    color: red;
}

.text-success {
    color: green;
}

table tr td:last-child {
    white-space: nowrap;
    width: 1px;
}

table tr td:last-child {
    text-align: right;
}