<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Главная страница</title>
</head>
<body>
<section th:insert="navbar::header"></section>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать</h1>
        <p class="lead">Воспользуйтесь меню навигации чтобы проссматривать список услуг и клиентов</p>
        <hr class="my-4">
        <p>Для того чтобы разлогиниться нажмите кнопку "Выйти"</p>
        <p class="lead">
        </p>
    </div>
</div>
</body>
</html>