<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Вход</title>
</head>
<body>
<section th:insert="navbar::header"></section>

<div class="container">
    <h3>Авторизация</h3>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        Неправильный логин или пароль
    </div>
    <div th:if="${logout}" class="alert alert-success" role="alert">
        Вы успешно вышли из системы
    </div>
    <form method="post" th:action="@{/login}" >
        <div class="form-group">
            <label for="username">Введите логин</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="password">Введите пароль</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Введите пароль">
        </div>
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
</div>

</body>
</html>