<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Spa Bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" sec:authorize="isAuthenticated()" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Просмотр информации
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarInfo">
                        <a class="dropdown-item" href="/offers/show">Услуги</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Настройки
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSettings">
                        <a class="dropdown-item" href="/profile">Учетная запись</a>
                        <a class="dropdown-item" href="/users">Список пользователей</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>