<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Добавление услуги</title>
</head>
<body>
<section th:insert="navbar::header"></section>

<div class="container">
    <h3>Добавление услуги</h3>
    <form th:fragment="offer" method="post" th:action="@{/offers/create}" th:object="${offer}">
        <div class="form-group">
            <label for="title">Название</label>
            <input th:field="*{title}" type="text" min="3" class="form-control" id="title" placeholder="Введите название">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <input th:field="*{description}" type="text" min="3" class="form-control" id="description" placeholder="Введите описание">
        </div>
        <div class="form-group">
            <label for="duration">Продолжительность сеанса в минутах</label>
            <input th:field="*{duration}" type="number" min="1" class="form-control" id="duration" placeholder="Введите продолжительность сеанса">
        </div>
        <div class="form-group">
            <label for="price">Цена</label>
            <input th:field="*{price}" type="number" min="1" class="form-control" id="price" placeholder="Введите цену">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Добавить</button>
        <a class="btn btn-secondary btn-block" th:href="@{/offers/show}">Отмена</a>
    </form>
</div>
</body>
</html>