<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Изменение настроек учетной записи</title>
</head>
<body>
<section th:insert="navbar::header"></section>

<div class="container">
    <div class="main-body">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Имя</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" th:text="${user.firstName}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Фамилия</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" th:text="${user.lastName}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Логин</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" th:text="${user.username}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Пароль</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" th:text="${'*****'}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Роль</h6>
                    </div>
                    <div th:if="${user.containsRoleByAuthority('ROLE_ADMIN')}" class="col-sm-9 text-secondary" th:text="'Администратор'">
                    </div>
                    <div th:if="${user.containsRoleByAuthority('ROLE_USER')}" class="col-sm-9 text-secondary" th:text="'Пользователь'">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                    <a class="btn btn-secondary" th:href="@{/profile/update(id=${user.id})}">Изменить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>