<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Изменение пользователя</title>
</head>
<body>
<section th:insert="navbar::header"></section>

<div class="container">
    <form method="post" th:action="@{/users/update}" th:object="${user}">
        <input th:field="*{id}" type="hidden" class="form-control" id="id">
        <div class="form-group">
            <label for="firstName">Введите имя</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('firstName')}?  is-invalid"
                   id="firstName" placeholder="Введите имя" type="text" th:field="*{firstName}" required>
            <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback" th:errors="*{firstName}"></div>
        </div>
        <div class="form-group">
            <label for="lastName">Введите фамилию</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('lastName')}?  is-invalid"
                   id="lastName" placeholder="Введите фамилию" type="text" th:field="*{lastName}" required>
            <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback" th:errors="*{lastName}"></div>
        </div>
        <div class="form-group">
            <label for="username">Введите логин</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('username')}?  is-invalid"
                   id="username" placeholder="Введите логин" type="text" th:field="*{username}" required>
            <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback" th:errors="*{username}"></div>
        </div>
        <div class="form-group">
            <label for="password">Введите пароль</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('password')}?  is-invalid"
                   id="password" type="password" th:field="*{password}" placeholder="Введите пароль" required>
            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}"></div>
        </div>
        <div class="form-group">
            <label for="confirm">Подтвердите пароль</label>
            <input class="form-control"  id="confirm" type="password" th:field="*{passwordConfirm}"
                   placeholder="Подтвердите пароль">
        </div>
        <div th:if="${confirmError}" class="alert alert-danger" role="alert" th:utext="${confirmError}"></div>
        <div class="form-group">
            <label for="authorities">Роль</label>
            <select  class="form-control" name="authorities" id="authorities">
                <option th:value="${'ROLE_USER'}"
                        th:utext="${'Пользователь'}"></option>
                <option th:value="${'ROLE_ADMIN'}"
                        th:utext="${'Администратор'}"></option>
            </select>
        </div>
        <div th:if="${usernameError}" class="alert alert-danger" role="alert" th:utext="${usernameError}"></div>
        <div>
            <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
            <a class="btn btn-secondary btn-block" th:href="@{/users/show}">Отмена</a>
        </div>
    </form>
</div>
</body>
</html>